/* Shout Out */
/* Displays the upgrade account message, and the mobile app teaser */
.shout-out {
	padding: 10px;
	color: #4D841A;
	background-color: #DBF3C5;
	border-bottom: 2px solid #74C729;
}

.shout-out a {
	font-weight: bold;
	color: #4D841A;
	text-decoration: underline;
}

.close-shout-out {
	float: right;
	margin: -4px 0 0 0;
	opacity: .2;
}

.close-shout-out:hover {
	opacity: 1;
}


/* Header */

#openvbx-logo a {
    display: block;
    float: left;
    height: 60px;
    width: 224px;
    margin: 15px 10px;
    background: #FFF url(../i/openvbx-header-logo.png) no-repeat left top;
	outline: none;
}


/* Footer */

#ft {
    height: 200px;
    margin-top: 20px;
    background-color: #FFF;
    border-top: 1px solid #CCC;
}

.copyright {
    padding: 10px;
    font-size: 12px;
    color: #777;
    text-align: center;
}


/* Standard Icons */

.standard-icon {
    height: 24px;
    width: 24px;
    background: url(../i/standard-icons-sprite.png) no-repeat left center;
}

.phone-icon {
    background-position: 0px center;
}

.voicemail-icon {
    background-position: -68px center;
}



/* Error Pages */


.error-page {
	min-height: 600px;
	border-top: 3px solid #666;
}

.error-page .vbx-content-main {
	padding: 20px;
}

.error-page .error-title {
	margin: 0 0 1em 0;
	font-size: 28px;
	color: #444;
}

.error-page .error-code {
	padding: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #888;
}

.error-page .error-message {
	margin: 0 0 0.5em 0;
	font-size: 17px;
	color: #444;
}

.error-page .error-url {
	font-size: 16px;
	color: #C00;
}

.error-page .vbx-sidebar {
	padding: 20px;
}





/* Misc */

.yui-override-main-margin {
    margin-left: 181px !important;
}

br.clear {
    clear: both;
}

br.clear-left {
    clear: left;
}

br.clear-right {
    clear: right;
}

span.replace {
    display: none;
}

em {
    font-style: italic;
}

.hide {
    display: none;
}

.open {
    display: block;
}

.float-left {
  float: left;
  margin-right: 1em !important;
}

.float-right {
  float: right;
  margin-left: 1em !important;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/** Numbers page info box **/
.incoming-number-phone .infobox {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #000000;
    width: 200px;
}
.incoming-number-phone .infobox h1 {
    line-height: 18px;
    font-size: 18px;
    margin: 10px 0;
}
.incoming-number-phone .infobox p {
    margin: 10px 0;
}
.incoming-number-phone .infobox strong {
    font-weight: bold;
}
.incoming-number-phone .infobox .siblings ul {
    font-size: 10px;
}
.incoming-number-phone .infobox .siblings ul li {
    font-size: 10px;
    display: block;
    margin-left: 15px;
}

.settings-pane {
    float: left;
    width: 320px;
    margin-right: 80px;
}

.twilio-logo-small {
    background: url(../i/twilio-logo.png) no-repeat top left;
    width: 80px;
    height: 30px;
}
.tropo-logo-small {
    background: url(../i/tropo-logo.png) no-repeat top left;
    width: 85px;
    height: 30px;
}
.voicevault-logo-small {
    background: url(../i/voicevault-logo.png) no-repeat top left;
    width: 110px;
    height: 45px;
    position: relative;
    margin-top: -7px;
}
.voicevault-pw {
    text-align: center;
}
.voicevault-pw img {
    position: relative;
    top: -15px;
}